.centered-content {
    text-align: center;
}

.recipe-detail-modal {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.recipe-detail-modal img {
    width: 100%;
    border-radius: 10px;
}

.recipe-card {
    border: 1px solid gray;
    padding: 10px;
    width: 250px;
    height: 230px;
    box-shadow: 10px 10px 10px #CCC;
    float: left;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px
}

.recipe-card img {
    width: 100%;
    border-radius: 10px;
}

.recipe-card:hover {
    background-color: #dddddd;
}

.week-lists-container {
    text-align: center;
}

.connected-list {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    min-width: 150px;
    min-height: 190px;
    padding: 0;
}

.connected-list > lh {
    display: block;
    text-align: center;
}

.connected-list-item {
    list-style-type: none;
    border: 1px solid gray;
    padding: 10px;
    width: 100px;
    height: 120px;
    box-shadow: 10px 10px 10px #CCC;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    box-sizing: content-box;
}

.connected-list-item > span {
    overflow: hidden;
    max-height: 55px;
    display: block;
}

.connected-list-item img {
    width: 100%;
    border-radius: 10px;
}

.ingredient-parsed {
    cursor: pointer;
}

.ingredient-string {
    cursor: pointer;
}

.planning-list {
    width: 100%;
    text-align: center;
}

.planning-list li{
    display: inline-table;
    text-align: center;
}