.container-fluid {
    padding: 0;
}

.home-page-body {
    background-image: url(./cutting_board.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.recipe-page-body {
    margin: 0;
    background-image: url(./wavegrid.png);
    background-repeat: repeat;
}

.recipe-page-body .header {
    overflow: hidden;
    background-image: url('./limeheader_green.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 100% center;
    background-color: #C2C57E;
    padding: 10px;
    border-bottom: 2px solid #3F6421;
}

.logo {
    border: 1px solid white;
    padding: 10px;
    float: left;
    margin: 10px;
    border-radius: 20px;
    background-color: #4E0308;
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 6vw;
    width: 20%;
}

.front-page-modal {
    font-family: 'Raleway', sans-serif;
}

.front-page-modal > h1 {
    font-family: 'Lobster', cursive;
    color: #4E0308;    
}

.submit-button {
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: #4E0308;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.submit-button:hover {
    color: white;
    background-color: #4E0308;
    border-radius: 10px;
}

.recipe-logo {
    padding: 10px;
    float: left;
    margin: 10px;
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    border: 2px solid #3F6421;
    background-color: #A7AC46;
    border-radius: 10px;
}

.nav {
    border: none;
    list-style-type: none
}

.centered-content {
    text-align: center;
}

.link-button {
    border: 2px solid transparent;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 4vw;
    width: 15%;
}

.link-button:hover {
    border: 2px solid white;
    border-radius: 10px;
    background-color: #4E0308;
    color: white;
}

.about-link-button {
    border: 2px solid transparent;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    color: #4E0308;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 5vw;
    width: 20%;
}

.about-link-button:hover {
    border: 2px solid white;
    border-radius: 10px;
    background-color: #4E0308;
    color: white;
}

.recipe-link-button {
    padding: 10px;
    float: left;
    margin: 10px;
    cursor: pointer;
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    border: 2px solid transparent;
}

.recipe-link-button:hover {
    border: 2px solid #3F6421;
    background-color: #A7AC46;
    border-radius: 10px;
}

.search-button {
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    color: #3F6421;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.search-button:hover {
    color: white;
    border: 2px solid #3F6421;
    background-color: #A7AC46;
    border-radius: 10px;
}

.spinner {
    text-align:center;
    overflow: auto;
}

.recipe-content {
    color: #3F6421;
    font-family: 'Raleway', sans-serif;
    padding: 30px;
}

.recipe-detail-modal {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.recipe-detail-modal img {
    width: 100%;
    border-radius: 10px;
}

.recipe-card {
    border: 2px solid #3F6421;
    padding: 10px;
    width: 250px;
    height: 230px;
    box-shadow: 10px 10px 10px #ddd;
    float: left;
    margin: 7px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.recipe-card img {
    width: 100%;
    border-radius: 10px;
}

.recipe-card-title {
    margin:20px;
    font-size: 15px;
}

.recipe-card:hover {
    background-color: #E0E2BE;
}

.week-lists-container {
    text-align: center;
}

.connected-list {
    border: 2px solid #3F6421;
    box-shadow: 10px 10px 10px #ddd;
    border-radius: 10px;
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    min-width: 150px;
    min-height: 190px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.connected-list > lh {
    display: block;
    text-align: center;
}

.connected-list-item {
    list-style-type: none;
    border: 1px solid gray;
    padding: 10px;
    width: 100px;
    height: 120px;
    box-shadow: 10px 10px 10px #ddd;
    cursor: pointer;
    border-radius: 10px;
    box-sizing: content-box;
    background-color: white;
}

.connected-list-item:hover {
    background-color: #E0E2BE;
}
    

.connected-list-item > span {
    overflow: hidden;
    max-height: 55px;
    display: block;
}

.connected-list-item img {
    width: 100%;
    border-radius: 10px;
}

.ingredient-parsed {
    cursor: pointer;
}

.ingredient-string {
    cursor: pointer;
}

.planning-list {
    width: 1020px;
    text-align: center;
}

.planning-list li{
    display: inline-table;
    text-align: center;
}

.shopping-list-container {
    text-align: center;
}

.shopping-list-card {
    text-align: left;
    border: 2px solid #3F6421;
    box-shadow: 10px 10px 10px #ddd;
    border-radius: 10px;
    background-color: white;
    width: 50%;
    display: inline-block;
    padding: 10px 50px;
}

.success-message {
    display: none;
}

.modal {
    position: absolute;
}
