.home-page-body {
    background-image: url(./cutting_board.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.home-page-content {
    color: white;
    text-shadow: 1px 1px black;
    background: rgba(78,3,8,.25);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.home-page-content input { 
    color: #4E0308; 
}

.link-button {
    border: 1px solid white;
    padding: 10px;
    float: left;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #4E0308;
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.logo {
    border: 1px solid white;
    padding: 10px;
    float: left;
    margin: 10px;
    border-radius: 10px;
    background-color: #4E0308;
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.nav {
    border: none;
}

.centered-content {
    text-align: center;
}

.recipe-detail-modal {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.recipe-detail-modal img {
    width: 100%;
    border-radius: 10px;
}

.recipe-card {
    border: 1px solid gray;
    padding: 10px;
    width: 250px;
    height: 230px;
    box-shadow: 10px 10px 10px #CCC;
    float: left;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px
}

.recipe-card img {
    width: 100%;
    border-radius: 10px;
}

.recipe-card:hover {
    background-color: #dddddd;
}

.week-lists-container {
    text-align: center;
}

.connected-list {
    border: 1px solid gray;
    box-shadow: 10px 10px 10px #CCC;
    border-radius: 10px;
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    min-width: 150px;
    min-height: 190px;
    padding: 10px;
    margin: 10px;
}

.connected-list > lh {
    display: block;
    text-align: center;
}

.connected-list-item {
    list-style-type: none;
    border: 1px solid gray;
    padding: 10px;
    width: 100px;
    height: 120px;
    box-shadow: 10px 10px 10px #CCC;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    box-sizing: content-box;
}

.connected-list-item > span {
    overflow: hidden;
    max-height: 55px;
    display: block;
}

.connected-list-item img {
    width: 100%;
    border-radius: 10px;
}

.ingredient-parsed {
    cursor: pointer;
}

.ingredient-string {
    cursor: pointer;
}

.planning-list {
    width: 100%;
    text-align: center;
}

.planning-list li{
    display: inline-table;
    text-align: center;
}

.shopping-list-container {
    width: 100%;
    text-align: center;
}

.shopping-list-card {
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 10px 10px 10px #CCC;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

.success-message {
    display: none;
}