<div class="front-page-modal">
    <h1 class="centered-content">About</h1>
    <h3>Introduction</h3>
        <em>chomp!</em> is a recipe management app powered by the Yummly API, allowing you to search, store, plan, and organize ingredients for the week's meals. Browsing and collecting recipes is intuitive and enjoyable, thanks to a highly visual interface and speedy responses. And with <em>chomp!</em>'s ability to parse and combine common ingredients in the shopping list, you will never have to calculate exactly how many eggs you need to make omelettes for breakfast and cookies for dessert.    
    <h3>How To</h3>
        Register or log in to access your account.<br><br>
        <em>Search</em>: Type a keyword to find recipes that match your taste. Click on a recipe to view details. Click 'Add to My Recipes' to save this recipe.<br><br>
        <em>My Recipes</em>: Click on a saved recipe to view details. Click 'Add to Planner' to begin planning your week of meals, or click 'Remove Recipe' if you no longer wish to store this recipe.<br><br>
        <em>Planner</em>: Drag recipes from 'To Plan' to a day of the week to plan your recipes and add all recipe ingredients to your Planner. If you decide you don't want to make this recipe this week, drag the recipe to 'Remove Recipe'. Don't worry! This won't delete the recipe from My Recipes, so you can always make it next week.<br><br>
        <em>Shopping List</em>: The Shopping List simplifies, combines, and categorizes all of your recipe ingredients, so you don't need to worry about accidentally buying the wrong amount of milk. 
    <h3>Learn More</h3>
    <ul>
        <li>Check out chomp!'s code on <a href="https://github.com/imnikkiz/Chomp">Github</a></li>
        <li>Find out more (including a walkthrough and installation instructions) in the <a href="https://github.com/imnikkiz/Chomp/blob/master/README.md">README</a></li>
        <li>Read about chomp!'s journey as a Hackbright project on the <a href="http://www.chompchompcoding.com/">Blog</a></li>
        <li>Get to know the developer, Nicole Ziemlak: <a href="http://ziemlak.me/">About Me</a></li>
</div>