<div class="front-page-modal">
    <h1 class="centered-content">Login</h1>
    <form id="login-form" method="POST" action="/login_user/">
        Username: <input type="text" name="username" value="" size="50" id="id-username"><br>
        Password: <input type="password" name="password" value="" size="50" id="id-password"><br>
        <br>
        <div style="text-align:center">
            <input type="submit" value="Submit" id="id-submit" class="submit-button">
        </div>
        {% csrf_token %}
    </form>
</div>