<div ng-controller="loginCtrl as ctrl">  
    <h1>Login</h1>
    <form name="loginForm"
          ng-submit="ctrl.login()">
        <input type="text" 
               placeholder="username" 
               ng-model="ctrl.user.username"
               required>
        <br>
        <input type="password" 
               placeholder="password"
               ng-model="ctrl.user.password"
               required>
        <br>
        <input type="submit" 
               value="submit" 
               ng-disabled="loginForm.$invalid">
        {% csrf_token %}
    </form>
</div>