<div id="added-recipe" class="alert alert-success success-message">
    Recipe added to <a href="" id="planner-link">Planner</a>!
</div>

<div id="deleted-recipe" class="alert alert-success success-message">
    Recipe deleted.
</div>

<h1 class="centered-content">My Recipes</h1>

<div class="row" id="id_all_recipes">
    {% for recipe in recipe_list %}
    <div class='recipe-card' id= {{recipe.id}} >
        <img src="{{recipe.big_img}}">
        <br>{{recipe.name}}<br>
    </div>

    <script>
    function showRecipeDetails(evt) {
        evt.preventDefault();
        var recipe_id = "{{recipe.id}}";
        $("#recipe-modal").modal();
        $("#recipe-id-value").val("{{recipe.id}}");
        $("#recipe-modal-body").load("/recipe/"+ recipe_id);
    };

    $("#{{ recipe.id }}").on(
        'click', showRecipeDetails);
    </script>
    {% endfor %}
</div>



<div class="modal fade" id="recipe-modal" tabindex="-1" role="dialog" aria-labelledby="recipe-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="recipe-modal-label"></h4>
                </div>
                <div class="modal-body" id="recipe-modal-body"></div>
                <div class="modal-footer">
                <form id="modify-recipes-form">
                    <input type="hidden" name="recipe_id" value="" id="recipe-id-value">
                    <button class="btn btn-default" id="add-to-planner-button" >Add to Planner</button>
                    <button class="btn btn-default" id="remove-recipe-button">Remove Recipe</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>

<script>

function addToPlanner(evt) {
    evt.preventDefault();
    var params = $("#modify-recipes-form").serialize();
    $.get("add_to_planner/", params);
    $("#recipe-modal").toggle();
    $("#added-recipe").slideDown(function() {
        setTimeout(function() {
            $("#added-recipe").slideUp();
        }, 5000);
    });
};

$("#add-to-planner-button").on('click', addToPlanner);

function removeRecipe(evt) {
    evt.preventDefault();
    var params = $("#modify-recipes-form").serialize();
    $("#content").load("remove_recipe/", params, function() {
        $("#deleted-recipe").slideDown(function() {
            setTimeout(function() {
                $("#deleted-recipe").slideUp();
            }, 3000);
        });
    });
};

$("#remove-recipe-button").on('click', removeRecipe);

$("#planner-link").on('click', showPlanner);

</script>