<h1>My Recipes</h1>

<form id="modify-recipes-form">
    <div class="row" id="id_all_recipes">
        {% for recipe in recipe_list %}
        <input type="checkbox" 
               name="recipe_list" 
               value={{ recipe.id }}>
               <a href="/recipe/{{recipe.id}}/">
               {{ recipe.name }}</a>
        <br>
        {% endfor %}
    </div>
    <button class="btn btn-default" id="add-to-planner-button">Add to Planner</button>
    <button class="btn btn-default" id="remove-recipes-button">Remove Recipes</button>
    {% csrf_token %}
</form>

<script>

function addToPlanner(evt) {
    evt.preventDefault();
    var params = $("#modify-recipes-form").serialize();
    $("#content").load("planner/", params 
    );
};

$("#add-to-planner-button").on('click', addToPlanner);

function removeRecipes(evt) {
    evt.preventDefault();
    var params = $("#modify-recipes-form").serialize();
    $("#content").load("remove_recipes/", params 
    );
};

$("#remove-recipes-button").on('click', removeRecipes);

</script>