<h1>Planner</h1>

<form id="add-to-shopping-list-form">
    <div class="row" id="id_recipe_list">
        {% for recipe in recipe_list %}
            <div id="{{forloop.counter}}">
                <input type="checkbox" 
                       name="recipe_list" 
                       value={{ recipe.id }}>
                <img src="{{recipe.lil_img}}"><br>
                <a href="/recipe/{{recipe.id}}/">{{ recipe.name }}</a>
            </div>
            <script>
                $( init );

                function init() {
                    $('#{{forloop.counter}}').draggable();
                }
            </script>
        {% endfor %}
    </div>

    {% for day in days %}
        <div id="{{day}}"><h2>{{ day }}</h2><p></p></div>

        <script>
            $(function () {
                $( "#{{day}}" ).droppable({
                    drop: function( event, ui ) {
                        $( this )
                            .find( "p" )
                                .html( "Added!" );
                    }
                });
            });
        </script>

    {% endfor %}

    <input type="submit" class="btn btn-default" value="Add to Shopping List">
    {% csrf_token %}
</form>

<script>

function addToShoppingList(evt) {
    evt.preventDefault();
    var params = $("#add-to-shopping-list-form").serialize();
    $("#content").load("shopping_list/", params 
    );
};

$("#add-to-shopping-list-form").on('submit', addToShoppingList);




</script>