<h1>Planner</h1>

<ul id="recipes-to-plan" class="connected-list">
    <lh class="cancel-sort">To Plan</lh>
    {% for recipe in recipes.planning %}
        <li id="{{recipe.id}}" class="connected-list-item">
        <img src="{{recipe.lil_img}}"><br>
        {{ recipe.name }}
        </li>
    {% endfor %}

</ul>

<ul id="monday-recipes" class="connected-list">
    <lh class="cancel-sort">Monday</lh>
    {% for recipe in recipes.monday %}
        <li id="{{recipe.id}}" class="connected-list-item">
        <img src="{{recipe.lil_img}}"><br>
        {{ recipe.name }}
        </li>
    {% endfor %}
</ul>

<ul id="tuesday-recipes" class="connected-list">
    <lh class="cancel-sort">Tuesday</lh>
    {% for recipe in recipes.tuesday %}
        <li id="{{recipe.id}}" class="connected-list-item">
        <img src="{{recipe.lil_img}}"><br>
        {{ recipe.name }}
        </li>
    {% endfor %}
</ul>

<ul id="wednesday-recipes" class="connected-list">
    <lh class="cancel-sort">Wednesday</lh>
    {% for recipe in recipes.wednesday %}
        <li id="{{recipe.id}}" class="connected-list-item">
        <img src="{{recipe.lil_img}}"><br>
        {{ recipe.name }}
        </li>
    {% endfor %}
    <li style="visibility:hidden;"></li>
</ul>

<ul id="thursday-recipes" class="connected-list">
    <lh class="cancel-sort">Thursday</lh>
    {% for recipe in recipes.thursday %}
        <li id="{{recipe.id}}" class="connected-list-item">
        <img src="{{recipe.lil_img}}"><br>
        {{ recipe.name }}
        </li>
    {% endfor %}
</ul>

<ul id="friday-recipes" class="connected-list">
    <lh class="cancel-sort">Friday</lh>
    {% for recipe in recipes.friday %}
        <li id="{{recipe.id}}" class="connected-list-item">
        <img src="{{recipe.lil_img}}"><br>
        {{ recipe.name }}
        </li>
    {% endfor %}
</ul>

<ul id="saturday-recipes" class="connected-list">
    <lh class="cancel-sort">Saturday</lh>
    {% for recipe in recipes.saturday %}
        <li id="{{recipe.id}}" class="connected-list-item">
        <img src="{{recipe.lil_img}}"><br>
        {{ recipe.name }}
        </li>
    {% endfor %}
</ul>

<ul id="sunday-recipes" class="connected-list">
    <lh class="cancel-sort">Sunday</lh>
    {% for recipe in recipes.sunday %}
        <li id="{{recipe.id}}" class="connected-list-item">
        <img src="{{recipe.lil_img}}"><br>
        {{ recipe.name }}
        </li>
    {% endfor %}
</ul>

<script>
$(function () {
    $("#recipes-to-plan").sortable({ 
        connectWith: ".connected-list",
        items: "li",
        placeholder: "connected-list-item"
    });
    $("#monday-recipes").sortable({ 
        connectWith: ".connected-list",
        items: "li",
        placeholder: "connected-list-item"
    });
    $("#tuesday-recipes").sortable({ 
        connectWith: ".connected-list",
        items: "li",
        placeholder: "connected-list-item"
    });
    $("#wednesday-recipes").sortable({ 
        connectWith: ".connected-list",
        items: "li",
        placeholder: "connected-list-item"
    });
    $("#thursday-recipes").sortable({ 
        connectWith: ".connected-list",
        items: "li",
        placeholder: "connected-list-item"
    });
    $("#friday-recipes").sortable({ 
        connectWith: ".connected-list",
        items: "li",
        placeholder: "connected-list-item"
    });
    $("#saturday-recipes").sortable({ 
        connectWith: ".connected-list",
        items: "li",
        placeholder: "connected-list-item"
    });
    $("#sunday-recipes").sortable({ 
        connectWith: ".connected-list",
        items: "li",
        placeholder: "connected-list-item"
    });
});

</script>

<!-- "#tuesday-recipes", "#wednesday-recipes", "#thursday-recipes", "#friday-recipes", 
        "#saturday-recipes", "#sunday-recipes")


                    update: function(event, ui) {
                // var order=$("#sortable-planner").sortable("toArray");
                // $("#recipe-order").val(order.join());
            } -->