<div id="removed-recipe" class="alert alert-success success-message">
    Recipe removed.
</div>

<h1 class="centered-content">Planner</h1>

<div class="week-lists-container">
        <ul id="planning" class="connected-list planning-list">
            <lh class="cancel-sort">To Plan</lh>
            {% for recipe in recipes.planning %}
                <li id="{{recipe.id}}" class="connected-list-item">
                <img src="{{recipe.lil_img}}"><br>
                <span>{{ recipe.name }}</span>
                </li>
            {% endfor %}
        </ul>

        <ul id="deleted" class="connected-list deleted-list">
            <lh class="cancel-sort">Remove Recipe</lh>
        </ul>
</div>

<div class="week-lists-container">

    <ul id="monday" class="connected-list">
        <lh class="cancel-sort">Monday</lh>
        {% for recipe in recipes.monday %}
            <li id="{{recipe.id}}" class="connected-list-item">
            <img src="{{recipe.lil_img}}"><br>
            <span>{{ recipe.name }}</span>
            </li>
        {% endfor %}
    </ul>

    <ul id="tuesday" class="connected-list">
        <lh class="cancel-sort">Tuesday</lh>
        {% for recipe in recipes.tuesday %}
            <li id="{{recipe.id}}" class="connected-list-item">
            <img src="{{recipe.lil_img}}"><br>
            <span>{{ recipe.name }}</span>
            </li>
        {% endfor %}
    </ul>

    <ul id="wednesday" class="connected-list">
        <lh class="cancel-sort">Wednesday</lh>
        {% for recipe in recipes.wednesday %}
            <li id="{{recipe.id}}" class="connected-list-item">
            <img src="{{recipe.lil_img}}"><br>
            <span>{{ recipe.name }}</span>
            </li>
        {% endfor %}
        <li style="visibility:hidden;"></li>
    </ul>

    <ul id="thursday" class="connected-list">
        <lh class="cancel-sort">Thursday</lh>
        {% for recipe in recipes.thursday %}
            <li id="{{recipe.id}}" class="connected-list-item">
            <img src="{{recipe.lil_img}}"><br>
            <span>{{ recipe.name }}</span>
            </li>
        {% endfor %}
    </ul>

    <ul id="friday" class="connected-list">
        <lh class="cancel-sort">Friday</lh>
        {% for recipe in recipes.friday %}
            <li id="{{recipe.id}}" class="connected-list-item">
            <img src="{{recipe.lil_img}}"><br>
            <span>{{ recipe.name }}</span>
            </li>
        {% endfor %}
    </ul>

    <ul id="saturday" class="connected-list">
        <lh class="cancel-sort">Saturday</lh>
        {% for recipe in recipes.saturday %}
            <li id="{{recipe.id}}" class="connected-list-item">
            <img src="{{recipe.lil_img}}"><br>
            <span>{{ recipe.name }}</span>
            </li>
        {% endfor %}
    </ul>

    <ul id="sunday" class="connected-list">
        <lh class="cancel-sort">Sunday</lh>
        {% for recipe in recipes.sunday %}
            <li id="{{recipe.id}}" class="connected-list-item">
            <img src="{{recipe.lil_img}}"><br>
            <span>{{ recipe.name }}</span>
            </li>
        {% endfor %}
    </ul>

</div>

<script>
$(function () {
    var sections = ['deleted', 'planning', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'];
    for (var i = 0; i < sections.length; i++) {
        var selector = '#' + sections[i];
        $(selector).sortable({
            connectWith: '.connected-list',
            items: 'li',
            placeholder: 'connected-list-item',
            receive: function(event, ui) {
                var recipe_id = ui.item.attr('id');
                var day = ui.item.parent().attr('id');
                if (day == 'deleted') {
                    $("#content").load("/update_planner/?recipe_id=" + recipe_id + "&day=" + day, function() {
                        $("#removed-recipe").slideDown(function() {
                            setTimeout(function() {
                                $("#removed-recipe").slideUp();
                            }, 3000);
                        });
                    });
                } else {
                    $.get("/update_planner/?recipe_id=" + recipe_id + "&day=" + day);
                };
            }
        });
    }
});

</script>