<h1 class="centered-content">{{ recipe.name }}</h1>
<p class="centered-content">from <a href="{{recipe.recipe_url}}">{{recipe.display_name}}</a></p>
<div class="recipe-detail-modal">
    <img src='{{ recipe.big_img }}'>
</div>
<h4><strong>Servings:</strong></h4>
<p>
    {% if recipe.servings_as_string %}
    {{ recipe.servings_as_string }}
    {% elif recipe.number_of_servings %}
    Serves {{ recipe.number_of_servings }}
    {% endif %}
</p>
<h4><strong>Time:</strong></h4>
<p>
    {% if recipe.time_string %}
    {{ recipe.time_string }}
    {% endif %}

<h4><strong>Ingredients:</strong></h4>
    </p>
    {% for ingredient in ingredients %}
    {{ingredient}}<br>
    {% endfor %}
    </p>
{% if recipe.courses.all %}
    <h4><strong>Course:</strong></h4>
    <p>
    {% for course in recipe.courses.all %}
    {{course}}<br>
    {% endfor %}
    </p>
{% endif %}
{% if recipe.cuisines.all %}
    <h4><strong>Cuisine:</strong></h4>
    <p>
    {% for cuisine in recipe.cuisines.all %}
    {{cuisine}}<br>
    {% endfor %}
    </p>
{% endif %}
{% if recipe.holidays.all %}
    <h4><strong>Holidays:</strong></h4>
    <p>
    {% for holiday in recipe.holidays.all %}
    {{holiday}}<br>
    {% endfor %}
    </p>
{% endif %}
<p class="centered-content">{{recipe.attribution|safe}}</p>