<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    {% block style %}{% endblock %}
</head>


<body class="recipe-page-body">
    <div class="container-fluid">
        <div class='header'>
            <ul class="nav nav-tabs">
                <li class="recipe-logo">chomp!</li>
                <li role="navigation" id="search_button" class="recipe-link-button">Search</li>
                <li role="navigation" id="my_recipes_button" class="recipe-link-button">My Recipes</li>
                <li role="navigation" id="planner_button" class="recipe-link-button">Planner</li>
                <li role="navigation" id="shopping_list_button" class="recipe-link-button">Shopping List</li>
                <a href="/logout_user/"><li role="navigation" id="logout_button" class="pull-right recipe-link-button">Log Out</li></a>
            </ul>
        </div>

        <div>
            {% block content %}{% endblock %}
        </div>

        <div class='footer'>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="static/recipe-ajax.js"></script>
</body>
</html>