{% extends "base_generic.html" %}
{% block title %}{{ recipe.name }}{% endblock %}
{% block content %}
    <h1>{{ recipe.name }}</h1>
    <img src='{{ recipe.big_img }}'>
    <p>Servings:<br>
        {{ recipe.servings_as_string }}<br>
        <br>
        Time:<br>
        {{ recipe.time_string }}<br>
        <br>
        Ingredients:<br>
        {% for ingredient in ingredients %}
        {{ingredient}}<br>
        {% endfor %}
    </p>
    <form action="/myrecipes">
        <input type="hidden" name="recipe_id" value={{ recipe.id }}>
        <input type="submit" class="btn btn-default" value="Add to My Recipes">
    </form>
{% endblock %}