<div class='row'>
    <div class='col-xs-12'>
        <h1>Search Recipes</h1>
    </div>
</div>

<div class='row'>
    <div class='col-xs-12'>
        <form id="search_form">
            <input name="search_keyword_text" id="search_box" placeholder="Search for recipes">
            <button type="submit" id="search_button" class="btn btn-primary">Search</button>
        </form> 
    </div>
</div>

<div class='row'>
    <div id="search_results">
        {% for recipe in recipe_list %}
            <div class='col-xs-4'>
                <img src="{{recipe.lil_img}}">
                <br>{{recipe.name}}<br>
                <button type="submit" class="btn btn-primary" id="{{forloop.counter}}">Chomp!</button>
            </div>
            <script>

            function showRecipeDetails(evt) {
                evt.preventDefault();
                var recipe_id = "{{recipe.id}}";
                $("#recipe-modal").modal();
                $("#recipe-modal-body").load("/recipe/"+recipe_id);
            };

            $("#{{forloop.counter}}").on('click', showRecipeDetails);

            </script>
        {% endfor %}
    </div>
</div>


{% if 'search_keyword' in request.session %}
<div class='row'>
    <div class='col-xs-12'>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#" id="link-1">1</a></li>
            <li><a href="#" id="link-2">2</a></li>
            <li><a href="#" id="link-3">3</a></li>
            <li><a href="#" id="link-4">4</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endif %}

<div class="modal fade" id="recipe-modal" tabindex="-1" role="dialog" aria-labelledby="recipe-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="recipe-modal-label"></h4>
                </div>
                <div class="modal-body" id="recipe-modal-body"></div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
function showSearchResults(evt) {
    evt.preventDefault();
    var params = $("#search_form").serialize();
    $("#content").load("search/", params 
    );
};

function showMore(evt) {
    evt.preventDefault();
    var page = evt.data.page;
    $("#content").load("search/?page=" + page);
}

$("#search_form").on('submit', showSearchResults);


$("#link-1").on( 'click', {
    page: "1"
}, showMore );

$("#link-2").on( 'click', {
    page: "2"
}, showMore );

$("#link-3").on( 'click', {
    page: "3"
}, showMore );

$("#link-4").on( 'click', {
    page: "4"
}, showMore );

</script>