<h1 class="centered-content">Shopping List</h1>

<div class="shopping-list-container">
    <div class="shopping-list-card">
        {% for category, foods in category_dict.items %}
            {% if category != 'other' %}
                {% if foods %}
                    <h3>{{ category|capfirst }}</h3>
                    <div>
                        {% for food_name, food_info in foods.items %}
                            <span class="{{food_name}}-span ingredient-parsed">
                                {% for measurement, amount in food_info.measurements.items %}
                                    {% if measurement != 'other' %}
                                    <span>{{ amount|floatformat }} {{ measurement }}</span>
                                    {% if not forloop.first %} + {% endif %}
                                    {% endif %} 
                                {% endfor %}

                                {% if food_info.measurements.other %}
                                    <span>{{ food_info.measurements.other }}</span>
                                {% endif %}
                                
                                <span>{{ food_name }}</span>
                            </span>
                            <span class="{{food_name}}-span ingredient-string" style="display: none">
                                {% for ingredient in food_info.ingredients %}
                                <i>{{ingredient}}</i>
                                    {% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </span><br>
                            <script>
                                $(".{{food_name}}-span").hover(function() {

                                    $(".{{food_name}}-span").toggle();
                                }).click(function() {
                                    $(".{{food_name}}-span").toggle();
                                });
                            </script>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if category_dict.other %}
                <h3>Other</h3>
                {% for ingredient in category_dict.other %}
                    {{ ingredient }}<br>
                {% endfor %}
        {% endif %}
    </div>
</div>