<h1>You've reached the Shopping List!</h1>

{% for recipe_name, ingredients in ingredient_dict.items %}
    <h3>{{ recipe_name }}</h3>
    {% for ingredient in ingredients %}
        {% if ingredient.food %}
            {% if ingredient.measurement %}
                {% if ingredient.amount %}
                    <b>{{ ingredient.amount }} {{ ingredient.measurement }}</b> 
                {% else %}
                    <b>(1) {{ ingredient.measurement }}</b>
                {% endif %}
            {% else %}
                <b>{{ ingredient.amount }}</b>
            {% endif %}
            <b>{{ ingredient.food.name }}</b>
        {% else %}
            {{ ingredient }}
        {% endif %}<br>
        <!-- on hover -->
        <!-- <i>Ingredient string: {{ ingredient }}</i><br> -->
    {% endfor %}<br>
{% endfor %}